<form class="flex-form" action="start4.php" method="post">

    <select name="subject" id="" class="search" id="subjects">
        <option value="JavaScript">JavaScript</option>
        <option value="Angular.js">Angular.js</option>
        <option value="Networking">Networking</option>
        <option value="React.js">React.js</option>
        <option value="Meteor.js">Meteor.js</option>
    </select>
    <label for="" class="from-label">From</label>
    <input type="date" class="date" name="from">

    <label for="" class="from-label">To</label>
    <input type="date" name="to" class="date">

    <select name="destination" class="guest" id="destination">
        <option value="Bangalore">Bangalore</option>
        <option value="Delhi">Delhi</option>
        <option value="Kolkata">Kolkata</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Pune">Pune</option>
    </select>

    <input type="submit" value="Search" class="submit" id="submit-query">

</form>