<form class="flex-form">

    <input type="search" placeholder="Enter subjects to teach" class="search">
    <label for="from" class="from-label">From</label>
    <input type="date" class="date" name="from">

    <label for="from" class="from-label">To</label>
    <input type="date" name="to" class="date">

    <select name="" id="" class="guest">
        <option value="1">Bangalore</option>
        <option value="2">Delhi</option>
        <option value="3">Kolkata</option>
        <option value="4">Mumbai</option>
        <option value="5">Pune</option>
    </select>

    <input type="submit" value="Search" class="submit" style="background-color: #EF6491">

</form>
